<section>
    <h1>Posts</h1>
</section>
<section>
    {% for post_id in posts %}
    <div hx-get="http://localhost:8000/h/posts/{{ post_id }}" hx-swap="outerHTML" hx-trigger="load">loading</div>
    {% endfor %}
</section>
