<div>
    <section>
    <h1>Posts</h1>
    </section>
    {% for post_id in posts %}
    <section>
    <div hx-get="http://localhost:8000/h/posts/{{ post_id }}" hx-swap="outerHTML" hx-trigger="load">loading</div>
    </section>
    {% endfor %}
</div>